

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>検索結果</h2>
    <div class="subtitle" >
      商品一覧
    </div>
    <ul class='item-lists'> 

  <% if @results[0] != nil %>
    <% @results.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
          
       
       
  